*.gl
*.geojson
*.pbf
*.txt
*.xml
*.bin
*.sec
*.vs
build/
out/
x64/
*.kdev*
build*
**/*osm.pbf
*osm.pbf
**data/**.txt
**data/test/**.txt
**__pycache__**
.idea/
*gmon.out
*gprof.output
*.zip
*.off
.vscode/c_cpp_*
!CMakeLists.txt
!notes.txt
!exampleInput.scen
!exampleBatchInput.txt
!polyanyaWorstCase_10.fmi
!polyanyaWorstCase_100.fmi
!polyanyaWorstCase_1000.fmi
!coastlines_shrunk_1000.fmi
!coastlines_shrunk_10000.fmi
!arena.mesh
!aurora.mesh
!*test.fmi